### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

### Java ###
*.class
*.jar
*.war
*.ear
*.jpi
*.iml

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### IDE ###
# IntelliJ
.idea/
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/
